.gray-border {
    border-radius: 5px;
    background-color: #d2d2d2;
}

.btn {
    border-radius: 10px;
    height:40px;
}

.btn-green-lg {
    width: 180px;
    background-color: #5cb85c;
    color: white;
}

.btn-red-lg {
    width: 180px;
    background-color: #d9534f;
    color: white;
}

.btn-orange-lg {
    width: 180px;
    background-color: #666666;
    color: white;
}

.btn-blue-lg {
    width: 180px;
    background-color: #337ab7;
    color: white;
}

.text-middle td {
    vertical-align: middle;
}

.btn-blue-md {
    width: 120px;
    height: 40px;
    background-color: #337ab7;
    color: white;
}

.btn-green-md {
    width: 120px;
    height: 40px;
    background-color: #5cb85c;
    color: white;
}

.btn-green-sm {
    width: 90px;
    background-color: #5cb85c;
    color: white;
}

.btn-red-sm {
    background-color: #d9534f;
    color: white;
    width: 90px;
}

.btn-blue-sm {
    width: 90px;
    background-color: #337ab7;
    color: white;
}

.btn-purple-sm {
    width: 90px;
    background-color: #9370DB;
    color: white;
}

.div-center {
    margin: 0 auto;
}

.color-b {
    background-color: #337ab7;
}

.color-g {
    background-color: #5cb85c;
}

.color-r {
    background-color: #d9534f;
}

.color-p {
    background-color: #9370DB;
}

.float-r {
    float: right;
}

.input-likeformcontrol {
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

.tb tr {
    vertical-align: middle;
    text-align: center;
}

.tb td {
    vertical-align: middle;
    text-align: center;
}

.dropdown-submenu {
    position: relative;
}
    /*第二層dropdown*/
    .dropdown-submenu > .dropdown-menu {
        top: 0px;
        left: 100%;
        margin-top: -6px;
        margin-left: 0px;
        border-radius: 6px;
    }

    .dropdown-submenu:hover > .dropdown-menu {
        display: block;
    }

    .dropdown-submenu.pull-left {
        float: none;
    }

.dropdown-content a {
    padding: 12px 16px;
    display: block;
}

    .dropdown-content a:hover {
        background-color: #ddd
    }

.dropdown:hover .dropdown-content {
    display: block;
}

.sm_title_a a {
    color: black;
}

    .sm_title_a a:hover {
        color: #0066FF;
    }

span {
    cursor: default;
}